
.Rhistory
Python/.ipynb_checkpoints/ch1_business_examples-checkpoint.ipynb
Python/.ipynb_checkpoints/ch1_Getting Started with Python-checkpoint.ipynb
Python/.ipynb_checkpoints/ch2_summarising_and visualisating-checkpoint.ipynb
Python/.ipynb_checkpoints/Getting Started with R-checkpoint.ipynb
